<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About || SWEETER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/favico.ico') }}" type="image/x-icon" />
    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="mini project for Web Plus" />
    <meta property="og:image" content="{{ url_for('static', filename='img/ogimage.jpg') }}" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            About this site
          </p>
          <p class="subtitle">
            This should be avalible for everyone to see
          </p>
        </div>
      </section>
</body>
</html>